@media screen and (max-width: 767px) {
  .grid-2 {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
  }
  .selection {
    padding-block-start: 5%;
  }
  .info {
    margin-block-start: 0;
  }
}
